/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --main-text-color: #212121;
  --secondery-text-color: #FFFFFF;
  --main-leter-spacing: 0.03em;
  --main-active-color: #2196F3;
  --main-right-margin: 30px;
  --main-duration-time: 250ms;
  --main-delay-time: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.visible-none {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.menu__container {
  position: fixed;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  max-width: 480px;
  max-height: 796px;
  margin: -1px;
  visibility: hidden;
  opacity: 0;
  background-color: transparent;
  z-index: 0;
  -webkit-transition-property: opacity, visibility, overflow, position, background-color, height, width, padding, -webkit-transform;
  transition-property: opacity, visibility, overflow, position, background-color, height, width, padding, -webkit-transform;
  transition-property: transform, opacity, visibility, overflow, position, background-color, height, width, padding;
  transition-property: transform, opacity, visibility, overflow, position, background-color, height, width, padding, -webkit-transform;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.menu__container.js-menu-container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
@media screen and (max-width: 767px) {
  .menu__container {
    top: 0;
    right: 0;
    overflow-y: scroll;
    background-color: #fff;
  }
  .menu__container.js-menu-container.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    white-space: unset;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-y: scroll;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 999;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition-property: opacity, visibility, overflow, position, -webkit-transform, -webkit-clip-path;
    transition-property: opacity, visibility, overflow, position, -webkit-transform, -webkit-clip-path;
    transition-property: transform, opacity, visibility, clip-path, overflow, position;
    transition-property: transform, opacity, visibility, clip-path, overflow, position, -webkit-transform, -webkit-clip-path;
    -webkit-transition-duration: var(--main-duration-time);
            transition-duration: var(--main-duration-time);
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    -webkit-transition-delay: var(--main-delay-time);
            transition-delay: var(--main-delay-time);
  }
}
@media screen and (max-width: 767px) and (max-width: 480px) {
  .menu__container {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.menu__button {
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  top: 10px;
  right: 0px;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  border: none;
  background-color: transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.menu__button:hover, .menu__button:focus {
  color: var(--main-active-color);
}
@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__svg {
  fill: currentColor;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
@media screen and (max-width: 480px) {
  .menu-social {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu-social__item {
  padding-left: 10px;
  padding-right: 10px;
}
@media screen and (max-width: 480px) {
  .menu-social__item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.menu-social__item:first-child {
  padding-left: 0;
}
.menu-social__item:last-child {
  padding-right: 0;
}
@media screen and (max-width: 480px) {
  .menu-social__item:last-child {
    padding-left: 0;
    padding-right: 5px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--main-active-color);
}

.header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}
.header__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .navigation {
    width: auto;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
}
.logo__first-word {
  color: var(--main-active-color);
}
.logo--color-first {
  color: var(--main-text-color);
}
.logo--color-second {
  color: var(--secondery-text-color);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}

.navigation__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.navigation__list--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navigation__list--menu-margin {
  margin-bottom: 306px;
}
@media screen and (min-width: 768px) {
  .navigation__list--menu-margin {
    margin-bottom: 0;
  }
}

.navigation__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .navigation__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 0;
  }
}

/*.navigation-item:not(:last-child)
{
    margin-right: 50px;
}*/
.navigation__link {
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  outline-color: aqua;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
@media screen and (min-width: 768px) {
  .navigation__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    outline: none;
  }
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--main-active-color);
}

.current {
  color: var(--main-active-color);
}
@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -1px;
    left: 0;
    background-color: var(--main-active-color);
    border: none;
    border-radius: 2px;
  }
}

.contact {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
.contact--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contact--menu-margin {
  margin-bottom: 64px;
}

.contact__item {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 34px;
  line-height: 1.18;
  color: var(--main-active-color);
}
.contact__item:not(:last-child) {
  margin-bottom: 32px;
}
.contact__item:nth-child(2) {
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-bottom: 0;
  }
  .contact__item + .contact__item {
    margin-left: 50px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 0.02em;
  color: currentColor;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 12px;
    line-height: 1.14;
    color: #757575;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--main-active-color);
}

.contact__svg {
  margin-right: 10px;
  fill: currentColor;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.hero {
  background-color: #2F303A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background-mob.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background-mob.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background-mob-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background-tab.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background-tab-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bg-img/hero-background-2x.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg-img/hero-background-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondery-text-color);
}
@media screen and (min-width: 1200px) {
  .hero__header {
    width: 696px;
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */
  }
}

.main-btn {
  min-height: 50px;
  padding: 10px 30px;
  border-radius: 4px;
  border-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondery-text-color);
  background-color: var(--main-active-color);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.main-btn:hover, .main-btn:focus {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .min-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
    row-gap: 57px;
  }
}

.min-gallery__item:not(:last-child) {
  margin-bottom: var(--main-right-margin);
}
@media screen and (min-width: 768px) {
  .min-gallery__item {
    max-width: 354px;
  }
  .min-gallery__item:not(:last-child) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .min-gallery__item {
    max-width: 270px;
  }
}

.min-gallery__svg-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .min-gallery__svg-container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.min-gallery__svg {
  display: block;
  width: 70px;
  height: 70px;
}

.min-gallery__header {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--main-leter-spacing);
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .min-gallery__header {
    text-align: start;
  }
}

.min-gallery__description {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--main-leter-spacing);
  color: #757575;
}

.projects {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .projects {
    display: none;
  }
}

.projects__header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-leter-spacing);
}

.pictures-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pictures-list__item {
  width: 370px;
  position: relative;
}
.pictures-list__item:not(:last-child) {
  margin-right: var(--main-right-margin);
}

.pictures-list__img {
  display: block;
  width: 100%;
  height: auto;
}

.pictures-list__header {
  margin-top: 0;
  margin-bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--main-leter-spacing);
  text-transform: uppercase;
  color: var(--secondery-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #F5F4FA;
}

.team-header {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--main-leter-spacing);
}
@media screen and (min-width: 1200px) {
  .team-header {
    margin-bottom: 50px;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}

.team-item {
  /*&:not(:last-child)
  {
      margin-bottom: 30px;
  }*/
  border-radius: 0 0 4px 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    margin-bottom: 0;
    width: 270px;
    /* &:not(:nth-child(4n))
     {
         margin-right: var(--main-right-margin);
     }*/
  }
}

.team-item-img {
  display: block;
  width: 100%;
  height: auto;
}

.team-item-header {
  margin-top: 0;
  margin-bottom: 10px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-leter-spacing);
}

.team-item-description {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: var(--main-leter-spacing);
  color: #757575;
}

/*--social-begin--*/
.social {
  padding-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: inherit;
  color: #AFB1B8;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.social__link:hover, .social__link:focus {
  color: var(--secondery-text-color);
  background-color: var(--main-active-color);
}

.social__svg {
  fill: currentColor;
}

/*--social--end--*/
.customers {
  text-align: center;
}

.customers-header {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: var(--main-leter-spacing);
  color: var(--main-text-color);
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.customers-list-item {
  width: 100%;
  height: 92px;
}
@media screen and (min-width: 480px) {
  .customers-list-item {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list-item {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list-item {
    width: 170px;
    /*&:not(:last-child) 
    {
        margin-right: 30px;
    }*/
  }
}

.customers-list-link {
  /*
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  */
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  color: #AFB1B8;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.customers-list-link:hover, .customers-list-link:focus {
  border-color: var(--main-active-color);
  color: var(--main-active-color);
}

.customers-item-svg {
  fill: currentColor;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 15px;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
  max-width: 326px;
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .filters {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
}

.filter-btn {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: var(--main-leter-spacing);
  background-color: #F5F4FA;
  border: none;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.filter-btn:hover, .filter-btn:focus {
  color: var(--secondery-text-color);
  background-color: var(--main-active-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-filters {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .gallery-filters {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-filters {
    margin-bottom: 50px;
  }
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  max-width: 100%;
  /* &:not(:last-child)
   {
       margin-bottom: 30px;
   }

   @media screen and (min-width: 768px)
   {
       width: 354px;
       &:not(:nth-child(2n))
       {
           margin-right: var(--main-right-margin);
       }
       &:not(:nth-last-child(-n+2))
       {
           margin-bottom: 30px;
       }
   }

   @media screen and (min-width: 1200px)
   {
       width: 370px;

       &:not(:nth-child(3n))
       {
           margin-right: var(--main-right-margin);
       }

       &:not(:nth-last-child(-n+3))
       {
           margin-bottom: 30px;
       }
   }*/
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: 370px;
  }
}

.gallery-link {
  display: block;
  width: 100%;
  height: 100%;
  border-color: #EEEEEE;
  border-style: solid;
  border-width: 1px;
  border-top: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.gallery-link:hover {
  display: block;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery-img {
  display: block;
  width: 450px;
  max-width: 100%;
  height: auto;
}

.gallery-img-wrap {
  position: relative;
  overflow: hidden;
}

.gallery-short-description {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 77px;
  padding-bottom: 77px;
  padding-left: 24px;
  padding-right: 24px;
  height: 100%;
  overflow-y: auto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: var(--main-leter-spacing);
  color: var(--secondery-text-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: var(--main-duration-time);
  transition: var(--main-duration-time);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .gallery-short-description {
    padding-top: 49px;
    padding-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-short-description {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gallery-link:hover .gallery-short-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery-link:focus .gallery-short-description {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.gallery-title {
  margin-top: 0;
  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}

.gallery-type {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: var(--main-leter-spacing);
  color: #757575;
}

.gallery-item-textbox {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-class {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2F303A;
}

.footer-address-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-bottom: 0;
    min-width: 230px;
  }
}

/*
.address-class
{
}
.address-list {
}
*/
.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: var(--main-leter-spacing);
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.address-list-link:hover, .address-list-link:focus {
  color: var(--main-active-color);
}

.map-link {
  color: var(--secondery-text-color);
}

.footer-logo {
  margin-right: 0;
  margin-bottom: 20px;
  display: block;
}

.footer-container {
  display: block;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    text-align: start;
  }
}

.footer-social-container {
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-social-container {
    margin-bottom: 0;
    margin-left: 70px;
    padding-top: 12px;
  }
}

.footer-social-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--main-leter-spacing);
  text-transform: uppercase;
  color: var(--secondery-text-color);
}

.footer-social-color {
  color: var(--secondery-text-color);
  background-color: rgba(255, 255, 255, 0.1);
}

/*----------------subscribe-form----------------------*/
.subscribe-container {
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .subscribe-container {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 93px;
    padding-top: 12px;
    min-width: 570px;
  }
}

.subscribe-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--main-leter-spacing);
  text-transform: uppercase;
  color: var(--secondery-text-color);
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .subscribe-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.subscribe-mail {
  width: 100%;
  max-width: 450px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 20px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--secondery-text-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-mail {
    margin-bottom: 0;
  }
}

.subscribe-btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondery-text-color);
}
@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.subscribe-svg {
  fill: currentColor;
  margin-left: 10px;
}

/*------------the--end--of--FOOTER-------------------*/
/*---------modal--form------------------------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(100%, 100%);
          transform: scale(100%, 100%);
  overflow-y: scroll;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}

.modal-window {
  /*animation-name: lightSpeedIn;
  animation-timing-function: ease-out;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(100%, 100%);
          transform: translate(-50%, -50%) scale(100%, 100%);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
  max-width: 450px;
  max-height: 609px;
  min-width: 315px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 12px;
  line-height: 1.17;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 450px) {
  .modal-window {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
    max-width: 528px;
    max-height: 581px;
  }
}

.backdrop.is-hidden .modal-window {
  -webkit-transform: translate(-50%, -50%) scale(0, 0) skewY(-90deg);
          transform: translate(-50%, -50%) scale(0, 0) skewY(-90deg);
  -webkit-transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, -webkit-transform;
  transition-property: opacity, visibility, transform;
  transition-property: opacity, visibility, transform, -webkit-transform;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}

.modal-close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  color: var(--main-active-color);
}

.close-btn-svg {
  fill: currentColor;
}

/*version #1
.form-agreement-link::before
{
    content: "";

    display: block;
    position: absolute;

    height: 1px;
    width: 100%;

    bottom: 0;
    left: 0;

    border: none;
    background-color: var(--main-active-color);
}
*/
.form-header {
  margin-top: 0;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: var(--main-leter-spacing);
  color: var(--main-text-color);
}

.modal-form-list-item {
  margin-bottom: 10px;
  width: 100%;
  /*---------check-box-item--part-1-------------*/
  /*----------END---check-box-item-part-1------------------*/
}
.modal-form-list-item:nth-last-child(3) {
  margin-bottom: 20px;
}
.modal-form-list-item:nth-last-child(2) {
  margin-bottom: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height, or 171% */
  letter-spacing: var(--main-leter-spacing);
}
@media screen and (min-width: 1200px) {
  .modal-form-list-item:nth-last-child(2) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-form-list-item:last-child {
  margin-bottom: 0;
}

.form-item-label {
  display: block;
  margin-bottom: 4px;
}

.form-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  width: inherit;
  color: #000000;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
.form-item-wrap:hover, .form-item-wrap:focus-within {
  color: var(--main-active-color);
  border-color: var(--main-active-color);
  cursor: pointer;
}

/*.form-item-input:focus .form-item-wrap
{
    color: var(--main-active-color);
    border-color: var(--main-active-color);
}
*/
.item-coment-wrap {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  height: 120px;
}

.form-item-svg {
  margin-right: 12px;
  fill: currentColor;
}

.form-item-input {
  width: 100%;
  height: 100%;
  border: none;
}
.form-item-input:focus {
  outline: none;
  outline-offset: 0;
}

.form-item-input-focus {
  color: var(--main-active-color);
  border-color: var(--main-active-color);
}

.form-item-coment {
  resize: none;
}

/*---------check-box-item--part-2-------------*/
.modal-item-agreement {
  margin-right: 7px;
  opacity: 0;
}

.checkbox-imitation {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 16px;
  height: 15px;
  font-size: 11px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
  -webkit-transition-duration: var(--main-duration-time);
          transition-duration: var(--main-duration-time);
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: var(--main-delay-time);
          transition-delay: var(--main-delay-time);
}
@media screen and (min-width: 1200px) {
  .checkbox-imitation {
    -webkit-transform: translate(15px, -50%);
            transform: translate(15px, -50%);
  }
}
.modal-item-agreement:checked + .agreement-check-label > .checkbox-imitation {
  border: transparent;
  color: white;
  background-color: var(--main-active-color);
}
.modal-item-agreement:focus + .agreement-check-label > .checkbox-imitation, .modal-item-agreement:hover + .agreement-check-label > .checkbox-imitation {
  border-color: var(--main-active-color);
}

.checkbox-check-icon {
  fill: currentColor;
}

/*.agreement-check-label::before
{
    content: " ";
    color: #000;
    display: inline-block;

    width: 16px;
    height: 15px;

    font-size: 11px;

    border: 2px solid #212121;
    border-radius: 2px;
}

.modal-item-agreement:checked+.agreement-check-label::before
{
    background-color: #188CE8;
}
*/
.agreement-check-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-agreement-link {
  color: var(--main-active-color);
  margin-left: 5px;
  padding-left: 0.2em;
}

.underlining {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, var(--main-active-color)), color-stop(50%, transparent));
  background-image: linear-gradient(to right, var(--main-active-color) 100%, transparent 50%);
  background-position: 0 1.25em;
  background-repeat: repeat-x;
  background-size: 1px 1px;
}

.modal-submit-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}/*# sourceMappingURL=main.css.map */