.min-gallery
{
    @media screen and (min-width: 768px)
    {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        row-gap: 57px;

    }
    
}


.min-gallery__item
{

    &:not(:last-child)
        {
            margin-bottom: var(--main-right-margin);
        }

    @media screen and (min-width: 768px)
    {
        max-width: 354px;
        &:not(:last-child)
        {
            margin-bottom: 0;
            //margin-right: var(--main-right-margin);
        }
    }
    @media screen and (min-width: 1200px)
    {
        max-width: 270px;
    }
}

.min-gallery__svg-container
{
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;

    @media screen and (min-width: 768px)
    {
        padding-left: 100px;
        padding-right: 100px;
    }

    margin-bottom: 30px;

    border-radius: 4px;

    background-color: #F5F4FA;
}

.min-gallery__svg
{
    display: block;

    width: 70px;
    height: 70px;
}

.min-gallery__header 
{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: var(--main-leter-spacing);
    text-transform: uppercase;

    @media screen and (min-width: 768px)
    {
        text-align: start;
    }
}

.min-gallery__description
{
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: var(--main-leter-spacing);
    color: #757575;
}