:root
{
    --main-text-color: #212121;
    --secondery-text-color: #FFFFFF;
    --main-leter-spacing: 0.03em;
    --main-active-color: #2196F3;
    --main-right-margin: 30px;
    --main-duration-time: 250ms;
    --main-delay-time: 0;
}